html,
body{
  min-width: 960px;
  kmin-height: 1750px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color:#ffffff;
  font-family: "PT Sans Narrow","Arial",sans-serif;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.main-header
{
  margin-bottom: 60px;
  background-color:#000000;
  color: #ffffff;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation
{
  float: left;
  width: 700px;
}

.main-navigation a{
  position: relative;
  display: block;
  padding: 25px 20px;
  color:#ffffff;
  text-decoration: none;
  margin-bottom: 0px;
}

.main-navigation li:first-child a {
box-sizing: border-box;
height: 70px;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a:hover{
  background: #242424;
}

.main-navigation a::after{
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  height: 5px;
  bottom: 0px;
  background-color: #000000;
  opacity: 0;
}

.main-navigation a:visited::after{
  background-color: #ffffff;
  .opacity: 1;
}

.user-block{
  float: right;
  max-width: 140px;
}

.login{
  position: relative;

  display: inline-block;
  padding: 25px;
  padding-left: 50px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover{
  background: #242424;
}

.login::before{
  content: "";
  position: absolute;
  top:28px;
  left: 20px;

  width: 18px;
  height: 16px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -378px;
  opacity: 0.3;
}

.login:hover::before{
  opacity: 1;
}

.index-logo{
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img{
  width: 368px;
  height: 204px;
}

.features{
  margin-bottom: 80px;
}

.features-item{
  width: 300px;
  float: left;
  margin-right: 20px;
  text-align: center;
  }

.features-name{
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;

  display: block;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p{
  margin: 10px;
  margin-bottom: 0px;
}

.features-item:last-child{
  margin-right: 0px;
}

.index-content{
padding: 50px 80px;
margin-bottom: 35px;
color: #000000;
background: url("../img/index-content-shadow.png") no-repeat center,
#f8f5f2 url("../img/pattern-white.png");
}

.index-content-left{
  float: left;
  width: 380px;
}

.index-content-right{
  float: right;
  width: 300px;
}

.index-content-title{
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p{
  margin: 0;
  margin-bottom: 25px;
}

.news-preview{
  margin: 0;
  padding: 0;
  padding-right: 65px;
  list-style: none;
}

.news-preview li{
  margin-bottom: 25px;
}

.news-preview p{
  margin-bottom: 0;
}

.news-preview time{
  text-transform: none;
  font-weight: 400;
}

.btn{
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color:#ffffff;
  font-family: "PT Sans Narrow","Arial",sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active{
  background-color: #663d15;
}

.btn:disabled,
.btn.disabled{
  cursor: default;
  opacity: 0.5;
}

.btn:disabled:hover,
.btn.disabled:hover{
  background-color: #000000;
}

.gallery{
  position: relative;
  height: 260px;
}
.gallery-content{
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content jpg{
  width: 286px;
  height: 164px;
}

.gallery .btn{
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev{
  left:0;
}

.gallery-next{
  right:0;
}

.appointment-form input{
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus{
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n){
  margin-right: 0px;
}

.appointment-form .btn{
  clear: both;
  width: 100%;
}

.main-footer{
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;
  background: #252525 url("../img/pattern-black.png");
}
.footer-contacts{
  float: left;
  margin-right: 60px;
  width: 320px;

}

.footer-contacts a{
  color: #ffffff;
}

.footer-social{
  float: left;
  width: 180px;

  text-align: center;
}

.footer-copyright{
  float: right;
  max-width: 180px;

}

.footer-copyright p{
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn{
  margin-right: 0;
}

.footer-social p{
  margin: 0;
  margin-bottom: 15px;
}

.social-btn{
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background:  #000000 url("../img/sprite.png") no-repeat center;

  transition:
  background-position 0.5s;
  background-color 0.5s;
}

.social-btn-vk{
  background-position: -20px -315px;
}

.social-btn-fb{
  background-position: -20px -63px;
}

.social-btn-inst{
  background-position: -20px -189px;
}

.social-btn-vk:hover{
  background-position: -20px -252px;
}

.social-btn-fb:hover{
  background-position: -20px -0px;
}

.social-btn-inst:hover{
  background-position: -20px -126px;
}

.modal-content{
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 20;

  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;

  color: #000000;

  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow:  0 30px 50px rgba(0,0,0,0.7);

}
.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
z-index: 10;

width: 100%;
height: 100%;

background: rgba(0,0,0,0.5);
}

.modal-content-close{
  position: absolute;
  top: 0;
  right: -34px;


  width: 22px;
  height: 22px;

  font-size: 0;
  
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::after,
.modal-content-close::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::after{
  transform: rotate(45deg);
}

.modal-content-close::before{
 transform: rotate(-45deg);
}

.modal-content h2{
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-content p{
margin: 0;
margin-bottom: 14px;
}

.modal-content .login-form{
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form  input[type="password"]{
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow","Arial",sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

..login-form input:focus{
  border-color: #663d15;
}

.login-form input.icon-user{
  background-image: url("../img/user-icon.png");
  background-repeat:no-repeat;
  background-position: 95% ;
  }

  .login-form input.icon-password{
  background-image: url("../img/password-icon.png");
  background-repeat:no-repeat;
  background-position: 95% ;
  }

.login-form .restore{
  float: right;

  color: #000000;
}

.login-form .btn{
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"]{
  display: none;
}

.login-checkbox{
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover{
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
   transform: rotate(-45deg);
}

.product-navigation,
.bread-crumbs{
  margin-bottom: 40px;
  color: #000000;
}

.item-bg{

  background:#f8f5f2 url("../img/pattern-white.png");

}

.bread-crumbs .current{
  color: #aba9a7;
}

.bread-crumbs .product-name{
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1.3;
}

.bread-crumbs a{

  position: relative;
  display: block;
  padding-right: 20px;
  margin-right: 20px;
  color:#ffffff;
  text-decoration: none;
  margin-bottom: 0px;
    color: #000000;
}
.bread-crumbs a:hover{
  text-decoration: underline;
}

.bread-crumbs ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}
.bread-crumbs li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.3;
    color: #000000;
}

.bread-crumbs a::after{
  content: "";
  position: absolute;
top:50%;
  left: 100%;
  margin-left: -4px;
  margin-top: -4px;

 
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}




.product-foto{
  float: left;
  width: 480px;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

.galery a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 0px;

  line-height: 0px;
    border: 0;
}

.product-foto img{
    vertical-align:top;
}


.product-details{
  float: right;
  width: 390px;
  color: #000000;
}

.status{
  width: 140px;
  float: left;
  margin-bottom: 30px;
}

.vendor-code{
  width: 220px;
  float: right;
  margin-bottom: 30px;
  text-align: right;
  color:#aba9a7;
}

.product-description{
  margin-bottom: 30px;
  margin-top: 30px;
}

 .purchase-block .pri—Åe{
  padding: 10px 25px;
  background-color: #e5e5e5;
}

.purchase-block{
  margin-bottom: 60px;
}

.product-composition{
  position: relative;
}

.product-composition li::before{
  content: "";
  position: absolute;

  left: 0;
  margin-top: 13px;
  margin-left: 2px;

  display: block;
  width: 7px;
  height: 7px;

  background-color: #000000;
  transform: rotate(45deg);
}

.product-composition-title{
  font-size: 24px;
  line-height: 1.3;
}

.product-composition ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.product-composition li{
  display: block;
  vertical-align: top;
  font-size: 16px;
  line-height: 32px;
  padding-left: 20px;
}




.filter{
  float: left;
  color: #000000;
}

.filter legend{
  font-size: 24px;
  line-height: 1.3;
  vertical-align: top;

}


.filter input{
  margin-right: 20px;
   position: relative;
}

.filter-checkbox::before{
  content: "";
  position: absolute;
  top:0px;
  left: 0px;

  width: 20px;
  height: 20px;
  
  background:  url("../img/checkbox.png") no-repeat;
  
}

.filter-checkbox:checked::before{
  background:  url("../img/check.png") no-repeat;
}


.filter-radio::before{
  content: "";
  position: absolute;
  top:0px;
  left: 0px;

  width: 20px;
  height: 20px;
  background:  url("../img/radio-btn.png") no-repeat;
  
  
}

.filter-radio:checked::before{
  background:  url("../img/radio-btn-check.png") no-repeat;
}

.filter p:disabled:hover{
  color: #000000;
  opacity: 0.5;
}

.filter p:hover{
  color: #663d15;
}

.filter-checkbox:disabled,
.filter-checkbox.disabled{
  cursor: default;
  opacity: 0.5;
}

.filter-checkbox:disabled:hover,
.filter-checkbox.disabled:hover{
  background-color: #000000;
  color: #000000
}



 .sort-by-group{
    margin-top: 50px;
}



.product-previev{
  float: right;
  width: 700px;
 
}

.product-item {
  float: left;
  margin-right: 20px;

  margin-bottom: 20px;
  background-color: white;
 
}

.product-item:nth-child(3n+3){
  margin-right: 0px;
}

.product-item .category{
  display: block;
  text-transform:none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  
}

.product-item .title{
  display: block;
   padding-left: 20px;

}

.product-purchase .btn{
padding-right: 15px;
padding-left: 15px;
float: left;
color: #ffffff;

}

 .bag{
    float: left;

  padding:10px 0px;
  width: 110px;
  text-align: center;
  color: #000000;
  background-color: #e5e5e5;

}

.product-item a{
  color:#000000;
  list-style: none;
  text-decoration: none;

  }



.product-purchase{
  margin-top: 15px;
  margin-bottom: 20px;
 margin-left: 20px; 

}

.cart-contaner{
  margin-bottom: 30px;

}

.paginator .btn{
  width: 45px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
}

.paginator .btn:active{
  background-color: #ffffff;
  color: #000000;
}

.paginator .btn:hover{
  background-color: #ffffff;
  color: #000000;
}

/*
.line-left{
  float: left;
background: url("../img/line.png") no-repeat;
background-position: center;
width: 160px;
height: 2px;
padding: 31px 0;
margin-right: 25px;

}
.line-right{
  float: right;
background: url("../img/line.png")no-repeat;
background-position: center;
width: 160px;
height: 2px;
padding: 31px 0;

}

.promo-phrase{
  tmargin: 0 auto;
  ttext-align: center;
  twidth: 620px;
  
  color: #000000;
  
}
.phrase{
  float: left;
  font-size: 48px;
  line-height: 1.3;
  
  margin-bottom: 60px;

}

.price-content-left{
  float: left;
  
  width: 460px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}


.about-us{
  width: 380px;
}

.price-content-right{
  float: left;
  color: #000000;
  width: 460px;

}

.price-tabel{
  width: 460px;
  wheight: 130px;
  margin-bottom: 75px;
}

.price-tabel  p{
float: left;
display: inline-block;
border: #000000  solid 2px ;
border-bottom: 0px;

width: 227px;
color: #000000;
height: 40px;
margin:0;


font-size: 14px;
line-height: 40px;
}
.price-tabel  p:nth-child(2n){
  border-left: 0px;
  text-align: center;
}
.price-tabel  p:nth-child(odd){
 width: 207px;
 padding-left: 20px;
}
.price-tabel  p:nth-child(5){
  border-bottom: #000000  solid 2px ;
}
.price-tabel  p:nth-child(6){
  border-bottom: #000000  solid 2px ;
}
*/
.inner-content{
  margin-bottom: 75px;
  color: #000000;
}

.inner-content h2{
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content h3{
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 24px;
}

.inner-content h2+h3{
  margin-top: 30px;
}

.inner-content p{
  margin:14px 0;
}

.inner-content table{
  border-collapse: collapse;
}

.inner-content td{
  padding: 10px 15px;

  border: 2px solid #000000;
}

.big-heading{
  margin-top: 55px;
  margin-bottom: 65px;

  text-align: center;
}

.big-heading h2{
  position: relative;
  z-index: 2;

  display: inline;
  margin:0;
  padding: 0 25px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;

  background:#f8f3f0 url("../pattern-white.jpg")repeat;
}

.big-heading::after{
content: "";
position: relative;
top:-25px;
z-index: 1;
display: block;
border-bottom: 2px solid #000000;
}

.custom-list-1{
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.custom-list-1 li{
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li:before{
  content: "";
  position: absolute;

  left: 0;
  top:8px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.prices-table{
  width: 100%;
}

.prices-table td{
  width: 50%;
}

.prices-table td:last-child{
  text-align: center;
}

.inner-columns{
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right{
  width: 460px;
}

.inner-column-left{
  float: left;
}

.inner-column-right{
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child{
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child{
  margin-bottom: 0;
}

.short-text{
  padding-right: 80px;
}